
	<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
	<!-- <script src="assets/js/girl1_anim/girl1_anim.js"></script> -->
	<!-- <script src="assets/js/boy1_anim/boy1_anim.js"></script> -->

	@@if (server === "dnevnik"){
	<script src="assets/js/dnevnik.min.js"></script>
	}	
	@@if (server === "mosreg"){
	<script src="assets/js/mosreg.min.js"></script>
	}
	@@if (server === "staging"){
	<script src="assets/js/staging.min.js"></script>
	}
	@@if (server === "local"){	
	<script src="http://localhost:3000/assets/js/local.min.js"></script>
	}

</body>
</html>
