/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$boy1-name: 'boy1';
$boy1-x: 178px;
$boy1-y: 52px;
$boy1-offset-x: -178px;
$boy1-offset-y: -52px;
$boy1-width: 65px;
$boy1-height: 65px;
$boy1-total-width: 326px;
$boy1-total-height: 215px;
$boy1-image: '../images/sprite.png';
$boy1: (178px, 52px, -178px, -52px, 65px, 65px, 326px, 215px, '../images/sprite.png', 'boy1', );
$boy2-name: 'boy2';
$boy2-x: 243px;
$boy2-y: 52px;
$boy2-offset-x: -243px;
$boy2-offset-y: -52px;
$boy2-width: 65px;
$boy2-height: 65px;
$boy2-total-width: 326px;
$boy2-total-height: 215px;
$boy2-image: '../images/sprite.png';
$boy2: (243px, 52px, -243px, -52px, 65px, 65px, 326px, 215px, '../images/sprite.png', 'boy2', );
$bubble-name: 'bubble';
$bubble-x: 130px;
$bubble-y: 150px;
$bubble-offset-x: -130px;
$bubble-offset-y: -150px;
$bubble-width: 34px;
$bubble-height: 51px;
$bubble-total-width: 326px;
$bubble-total-height: 215px;
$bubble-image: '../images/sprite.png';
$bubble: (130px, 150px, -130px, -150px, 34px, 51px, 326px, 215px, '../images/sprite.png', 'bubble', );
$close-name: 'close';
$close-x: 178px;
$close-y: 117px;
$close-offset-x: -178px;
$close-offset-y: -117px;
$close-width: 27px;
$close-height: 27px;
$close-total-width: 326px;
$close-total-height: 215px;
$close-image: '../images/sprite.png';
$close: (178px, 117px, -178px, -117px, 27px, 27px, 326px, 215px, '../images/sprite.png', 'close', );
$friend-name: 'friend';
$friend-x: 0px;
$friend-y: 0px;
$friend-offset-x: 0px;
$friend-offset-y: 0px;
$friend-width: 178px;
$friend-height: 150px;
$friend-total-width: 326px;
$friend-total-height: 215px;
$friend-image: '../images/sprite.png';
$friend: (0px, 0px, 0px, 0px, 178px, 150px, 326px, 215px, '../images/sprite.png', 'friend', );
$girl1-name: 'girl1';
$girl1-x: 0px;
$girl1-y: 150px;
$girl1-offset-x: 0px;
$girl1-offset-y: -150px;
$girl1-width: 65px;
$girl1-height: 65px;
$girl1-total-width: 326px;
$girl1-total-height: 215px;
$girl1-image: '../images/sprite.png';
$girl1: (0px, 150px, 0px, -150px, 65px, 65px, 326px, 215px, '../images/sprite.png', 'girl1', );
$girl2-name: 'girl2';
$girl2-x: 65px;
$girl2-y: 150px;
$girl2-offset-x: -65px;
$girl2-offset-y: -150px;
$girl2-width: 65px;
$girl2-height: 65px;
$girl2-total-width: 326px;
$girl2-total-height: 215px;
$girl2-image: '../images/sprite.png';
$girl2: (65px, 150px, -65px, -150px, 65px, 65px, 326px, 215px, '../images/sprite.png', 'girl2', );
$logotype-name: 'logotype';
$logotype-x: 178px;
$logotype-y: 0px;
$logotype-offset-x: -178px;
$logotype-offset-y: 0px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 326px;
$logotype-total-height: 215px;
$logotype-image: '../images/sprite.png';
$logotype: (178px, 0px, -178px, 0px, 148px, 52px, 326px, 215px, '../images/sprite.png', 'logotype', );
$spritesheet-width: 326px;
$spritesheet-height: 215px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($boy1, $boy2, $bubble, $close, $friend, $girl1, $girl2, $logotype, );
$spritesheet: (326px, 215px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
