/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$boy1-name: 'boy1';
$boy1-x: 0px;
$boy1-y: 222px;
$boy1-offset-x: 0px;
$boy1-offset-y: -222px;
$boy1-width: 65px;
$boy1-height: 65px;
$boy1-total-width: 368px;
$boy1-total-height: 287px;
$boy1-image: '../images/sprite.png';
$boy1: (0px, 222px, 0px, -222px, 65px, 65px, 368px, 287px, '../images/sprite.png', 'boy1', );
$boy2-name: 'boy2';
$boy2-x: 75px;
$boy2-y: 222px;
$boy2-offset-x: -75px;
$boy2-offset-y: -222px;
$boy2-width: 65px;
$boy2-height: 65px;
$boy2-total-width: 368px;
$boy2-total-height: 287px;
$boy2-image: '../images/sprite.png';
$boy2: (75px, 222px, -75px, -222px, 65px, 65px, 368px, 287px, '../images/sprite.png', 'boy2', );
$bubble-2-name: 'bubble-2';
$bubble-2-x: 239px;
$bubble-2-y: 160px;
$bubble-2-offset-x: -239px;
$bubble-2-offset-y: -160px;
$bubble-2-width: 34px;
$bubble-2-height: 20px;
$bubble-2-total-width: 368px;
$bubble-2-total-height: 287px;
$bubble-2-image: '../images/sprite.png';
$bubble-2: (239px, 160px, -239px, -160px, 34px, 20px, 368px, 287px, '../images/sprite.png', 'bubble-2', );
$bubble-name: 'bubble';
$bubble-x: 158px;
$bubble-y: 160px;
$bubble-offset-x: -158px;
$bubble-offset-y: -160px;
$bubble-width: 34px;
$bubble-height: 51px;
$bubble-total-width: 368px;
$bubble-total-height: 287px;
$bubble-image: '../images/sprite.png';
$bubble: (158px, 160px, -158px, -160px, 34px, 51px, 368px, 287px, '../images/sprite.png', 'bubble', );
$close-name: 'close';
$close-x: 202px;
$close-y: 160px;
$close-offset-x: -202px;
$close-offset-y: -160px;
$close-width: 27px;
$close-height: 27px;
$close-total-width: 368px;
$close-total-height: 287px;
$close-image: '../images/sprite.png';
$close: (202px, 160px, -202px, -160px, 27px, 27px, 368px, 287px, '../images/sprite.png', 'close', );
$friend-name: 'friend';
$friend-x: 0px;
$friend-y: 0px;
$friend-offset-x: 0px;
$friend-offset-y: 0px;
$friend-width: 180px;
$friend-height: 150px;
$friend-total-width: 368px;
$friend-total-height: 287px;
$friend-image: '../images/sprite.png';
$friend: (0px, 0px, 0px, 0px, 180px, 150px, 368px, 287px, '../images/sprite.png', 'friend', );
$get-friend-name: 'get-friend';
$get-friend-x: 190px;
$get-friend-y: 0px;
$get-friend-offset-x: -190px;
$get-friend-offset-y: 0px;
$get-friend-width: 178px;
$get-friend-height: 150px;
$get-friend-total-width: 368px;
$get-friend-total-height: 287px;
$get-friend-image: '../images/sprite.png';
$get-friend: (190px, 0px, -190px, 0px, 178px, 150px, 368px, 287px, '../images/sprite.png', 'get-friend', );
$girl1-name: 'girl1';
$girl1-x: 150px;
$girl1-y: 222px;
$girl1-offset-x: -150px;
$girl1-offset-y: -222px;
$girl1-width: 65px;
$girl1-height: 65px;
$girl1-total-width: 368px;
$girl1-total-height: 287px;
$girl1-image: '../images/sprite.png';
$girl1: (150px, 222px, -150px, -222px, 65px, 65px, 368px, 287px, '../images/sprite.png', 'girl1', );
$girl2-name: 'girl2';
$girl2-x: 225px;
$girl2-y: 222px;
$girl2-offset-x: -225px;
$girl2-offset-y: -222px;
$girl2-width: 65px;
$girl2-height: 65px;
$girl2-total-width: 368px;
$girl2-total-height: 287px;
$girl2-image: '../images/sprite.png';
$girl2: (225px, 222px, -225px, -222px, 65px, 65px, 368px, 287px, '../images/sprite.png', 'girl2', );
$logotype-name: 'logotype';
$logotype-x: 0px;
$logotype-y: 160px;
$logotype-offset-x: 0px;
$logotype-offset-y: -160px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 368px;
$logotype-total-height: 287px;
$logotype-image: '../images/sprite.png';
$logotype: (0px, 160px, 0px, -160px, 148px, 52px, 368px, 287px, '../images/sprite.png', 'logotype', );
$spritesheet-width: 368px;
$spritesheet-height: 287px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($boy1, $boy2, $bubble-2, $bubble, $close, $friend, $get-friend, $girl1, $girl2, $logotype, );
$spritesheet: (368px, 287px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
